{"dX":"0", "dY":"0", "separation":"900", "inclination":"Inclination::CENTER"}
{"dX":"0", "dY":"0", "separation":"800", "inclination":"Inclination::CENTER"}
{"dX":"0", "dY":"UPHILL", "separation":"800", "inclination":"Inclination::UP"}
{"dX":"0", "dY":"DOWNHILL", "separation":"400", "inclination":"Inclination::DOWN"}
{"dX":"SOFTLEFT", "dY":"0", "separation":"400", "inclination":"Inclination::CENTER"}
{"dX":"SOFTLEFT, "dY":"0", "separation":"400", "inclination":"Inclination::CENTER"}