{
	"segments" :
	[
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 900,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 800,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "UPHILL",
			"separation" : 800,
			"inclination" : "Inclination::UP"
		},
		{
			"dX" : "0",
			"dY" : "DOWNHILL",
			"separation" : 400,
			"inclination" : "Inclination::DOWN"
		},
		{
			"dX" : "SOFTLEFTCURVE",
			"dY" : "0",
			"separation" : 400,
			"inclination" : "Inclination::CENTER"
		},			
		{
			"dX" : "SOFTLEFTCURVE",
			"dY" : "0",
			"separation" : 400,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 400,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "SOFTRIGHTCURVE",
			"dY" : "DOWNHILL",
			"separation" : 300,
			"inclination" : "Inclination::DOWN"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "SOFTLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "SOFTLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "SOFTRIGHTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "UPHILL",
			"separation" : 0,
			"inclination" : "Inclination::UP"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "DOWNHILL",
			"separation" : 0,
			"inclination" : "Inclination::DOWN"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDRIGHTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDRIGHTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "HARDLEFTCURVE",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "UPHILL",
			"separation" : 0,
			"inclination" : "Inclination::UP"
		},
		{
			"dX" : "0",
			"dY" : "DOWNHILL",
			"separation" : 0,
			"inclination" : "Inclination::DOWN"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "UPHILL",
			"separation" : 0,
			"inclination" : "Inclination::UP"
		},
		{
			"dX" : "0",
			"dY" : "UPHILL",
			"separation" : 0,
			"inclination" : "Inclination::UP"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		},
		{
			"dX" : "0",
			"dY" : "0",
			"separation" : 0,
			"inclination" : "Inclination::CENTER"
		}
	]
}