{
	"elements":
	[
		
		{
			"texture" : "rtype/palmTree.png",
			"rect" : 
			[ 0, 0, 125, 259],
			"x" : -250,
			"y" : -90,
			"worldPosition" : 6.0,
			"nConsecutiveElements" : 500,
			"position" : "LEFTANDCENTER"
		},
		{ 
			"texture" : "rtype/startFlag.png",
			"rect" : 
			[ 0, 100, 490, 75],
			"x" : -325,
			"y" : 35,
			"worldPosition" : 7.0,
			"nConsecutiveElements" : 0,
			"position" : "LEFT"
		}		
	]
}