{
	"elements":
	[
		
		{
			"texture" : "rtype/stage1Trees.png",
			"rect" : 
			[
				[ 0, 0, 125, 259]
			],
			"x" : -1790,
			"y" : -2,
			"overHorizon" : 0,
			"worldPosition" : 6.0,
			"nConsecutiveElements" : 35,
			"position" : "LEFTANDCENTER"
		},
		{ 
			"texture" : "rtype/startFlag.png",
			"rect" : 
			[
				[ 0, 0, 593, 83]
			],
			"x" : -1580,
			"y" : 75,			
			"overHorizon" : 1,
			"worldPosition" : 9.1,
			"nConsecutiveElements" : 0,
			"position" : "LEFT"
		},		
		{ 
			"texture" : "rtype/flagMan.png",
			"rect" : 
			[
				[ 0, 0, 84, 100],
				[ 0, 100, 84, 100],
				[ 0, 200, 84, 100],
				[ 0, 300, 84, 100],
				[ 0, 400, 84, 100],
				[ 84, 0, 84, 100],
				[ 84, 100, 84, 100],
				[ 84, 200, 84, 100],
				[ 84, 300, 84, 100],
				[ 84, 400, 84, 100]
			],
			"x" : -1050,
			"y" : 20,			
			"overHorizon" : 0,
			"worldPosition" : 6.5,
			"nConsecutiveElements" : 0,
			"position" : "LEFT"
		},
		{ 
			"texture" : "rtype/stage1Trees.png",
			"rect" : 
			[
				[ 250, 0, 162, 104]
			],
			"x" : -1580,
			"y" : -2,			
			"overHorizon" : 0,
			"worldPosition" : 55.0,
			"nConsecutiveElements" : 5,
			"position" : "CENTER"
		}
	]
}