{
	"elements":
	[
		
		{
			"texture" : "rtype/stage1Trees.png",
			"rect" : 
			[
				[ 0, 0, 125, 259]
			],
			"x" : -1790,
			"y" : -2,
			"overHorizon" : 0,
			"worldPosition" : 6.0,
			"nConsecutiveElements" : 35,
			"position" : "LEFTANDCENTER"
		},
		{ 
			"texture" : "rtype/startFlag.png",
			"rect" : 
			[
				[ 0, 0, 593, 83]
			],
			"x" : -1580,
			"y" : 75,			
			"overHorizon" : 1,
			"worldPosition" : 9.1,
			"nConsecutiveElements" : 0,
			"position" : "LEFT"
		},		
		{ 
			"texture" : "rtype/flagMan.png",
			"rect" : 
			[
				[ 0, 0, 57, 97],
				[ 0, 97, 57, 93],
				[ 0, 190, 57, 65],
				[ 0, 255, 57, 67],
				[ 0, 322, 57, 78],
				[ 0, 400, 57, 82]
			],
			"x" : -1000,
			"y" : -2,			
			"overHorizon" : 0,
			"worldPosition" : 6.0,
			"nConsecutiveElements" : 0,
			"position" : "LEFT"
		},
		{ 
			"texture" : "rtype/stage1Trees.png",
			"rect" : 
			[
				[ 250, 0, 162, 104]
			],
			"x" : -1580,
			"y" : -2,			
			"overHorizon" : 0,
			"worldPosition" : 55.0,
			"nConsecutiveElements" : 5,
			"position" : "CENTER"
		}
	]
}